<mat-sidenav-container>
    <mat-sidenav #sidenav [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'">

        <p align="center" style="padding-top:40px;">
            <img src="../assets/kallu-logo.png" width="200px" alt="KALLU The Language Company"><br>
        </p>
        <div class="sidenav" style="margin-top:50px;">


            <div *ngIf="authService.user | async as usuario">
                <mat-toolbar
                    style="font-size:12px; height: 20px; background:linear-gradient(180deg,#575656,#1d1d1d);color:white;">
                    <span class="app-toolbar-filler"></span>
                    MENU PRINCIPAL
                    <span class="app-toolbar-filler"></span>
                </mat-toolbar>
                <mat-list style="margin-top: -8px;">
                    <a *ngIf="usuario.tipo == 'Admin' || usuario.tipo=='Estudiante'" mat-list-item class="itemmenu" routerLink="/profesores" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <mat-icon class="iconomenu" mat-list-avatar>person</mat-icon>Profesores &nbsp;
                    </a>
                
                    <a *ngIf="usuario.tipo == 'Admin'" mat-list-item class="itemmenu" routerLink="/estudiantes" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <mat-icon class="iconomenu" mat-list-avatar>school</mat-icon>Estudiantes &nbsp;
                        <!-- <span class="badge badge-success">Nuevo</span> -->
                    </a>
                    <a mat-list-item class="itemmenu" routerLink="/" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <mat-icon class="iconomenu" mat-list-avatar>videocam</mat-icon>
                        <span *ngIf="usuario.tipo!='Admin'">Mis&nbsp;</span>
                        Clases Virtuales &nbsp;
                        <span class="badge badge-success">Nuevo</span>
                    </a>
            
                    <mat-divider></mat-divider>
                </mat-list>
        

                <mat-card *ngIf="usuario.tipo == 'Estudiante'">
                    <mat-card-header>
                        <mat-card-title><i class="material-icons icono-titulo">person</i> <b>Accesos Burlington
                                English</b></mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        Usuario: {{usuario.burn_user}} <br>
                        Contraseña: {{usuario.burn_password}}
                    </mat-card-content>
                
                </mat-card>
            </div>
            <br>

          
            <mat-toolbar
                style="font-size:12px; position: fixed; bottom: 0;background:linear-gradient(180deg,#575656,#1d1d1d);color:white;height: 50px!important;">
                <span class="app-toolbar-filler"></span>
                <span class="flag-icon flag-icon-cl"></span>
                <small>&nbsp; v1.0.0 &nbsp;|&nbsp; Diseño & Programación</small> &nbsp; <a target="_blank"
                    href="https://www.norweb.cl" style="margin-top:-5px;"><img width="20px" src="../assets/norweb.png"
                        alt="NORWEB"></a>
                <span class="app-toolbar-filler"></span>
       
            </mat-toolbar>
        </div>
    </mat-sidenav>

    <app-header></app-header>

    <div class="loading-overlay" *ngIf="loading">
        <mat-spinner [diameter]="48" [strokeWidth]="4.8"></mat-spinner>
    </div>

    <div class="container-fluid" style="padding-left:0px!important;padding-right:0px!important;" *ngIf="!loading">
     
        <router-outlet></router-outlet>
        <div class="espacio80"></div>
    </div>

</mat-sidenav-container>
